/*
background: #2c3e50;
text: #ecf0f1;
foreground: #3498db;
*/
/* Student admission start */
.student_add .heading-title{
    padding: 20px 0 20px 0;
    color:#2c3e50;
    font-weight: 800;
    
}
.student_add .form{
    margin:40px!important;
}
.student_add form{
    font-family: sans-serif;
    font-size: 16px;
    color:#2c3e50;
    letter-spacing: 0.6px;
    font-weight:550;
}
.student_add form input[type=text],input[type=number],input[type=tel],input[type=date],input[type=radio],select{
    padding:3px 8px 3px 8px!important;
    color:#2c3e50;
    font-size:17px;
    font-weight:500;
    text-transform: uppercase;
}
.student_add form input[type=radio]{
    margin:4px 0 4px 0!important;
}
.student_add form select option{
    background-color:#2c3e50;
    color:#eee;
    font-size:16px;
    font-weight:500;
}
.student_add .droptext{
    padding:20px;
}
.student_add form input{
    margin-bottom:5px!important;
}
.student_add form input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button,input[type=date]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin:0;
}
.student_add form hr{
    border-bottom:3px solid dodgerblue;
    margin:2px 0 9px 0!important;
}
.student_add form h4{
    color:#e67e22;
    font-weight:700;
    margin:10px 0 3px 0!important;
}
.errorMsg{
    font-size:14px;
    color: red;
    padding: 3px 0;
}
#errorAadhaar,#errorPincode,#errorPhone1,#errorPhone2{
    display: none;
}
#student_image,#student_document{
    display: none;
}

/* Student View Start */
.student-table{
    margin: 100px auto!important;
}
.student-view table,th,td{
    padding:5px 10px!important;
    text-align:center;
   
}