* {
  padding: 0 !important;
  margin: 0 !important;
  text-decoration: none!important;
}
/*
background: #2c3e50;
text: #ecf0f1;
foreground: #3498db;
*/
body{
  height: 100%;
  width:100%;
}
.main-container {
  height: 100vh;
}
/* Menu start */
.menu {
  height: 100%;
  background-color: #2c3e50;
  overflow: hidden;
}
.logo-area {
  height: 30%;
  width: 100%;
  background-color: #2c3e50;
  border-bottom: 2px solid #fff;
}
.logo-area .img-logo {
  padding-top: 10% !important;
}
.admin-title {
  color: #fafafa;
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px !important;
}
nav {
  overflow-y: scroll !important;
  height: 70%;
  width: 100%;
}
nav a {
  display: block;
  padding: 10px !important;
  text-align: left;
  color: #ecf0f1!important;
  font-size: 18px;
  padding-left: 10px !important;
  border-bottom: 2px solid #fafafa;
  transition: all 0.8s;
}
nav a i {
  font-size: 20px;
  color: #3498db;
  height: 10px;
  width: 15px;
  margin: 0 10px 0 10px !important;
}
nav a:hover {
  text-decoration: none;
  padding-left: 30px !important;
}


/* submenu start */
.submenu{
  display: none;
  transition: all .9s;
}
.submenu a{
  background-color: #fafafa;
  color:#2c3e50!important;
  font-size:16px;
  margin-bottom:1px!important;
  padding-left: 20px !important;
  font-weight:600;
}
#submenu a:hover {
  padding-left: 40px !important;
}
#stddropicon,#teadropicon,#stafdropicon{
  color:#fafafa;
  font-size:20px;
  float: right;
  text-align:center;
}
/* Menu end */

/* Top header start */
.top-header {
  height: 60px;
  background-color: #ecf0f1;
}
.top-title .top-name{
  line-height: 60px;
  color:#3498db;
  font-weight: 600;
}
.top-title img{
  display:inline-block;
  margin-left:30px!important;
}
.top-header .top-info .info-icon{
  cursor:pointer;
  line-height:53px;
  font-size:22px;
  color:#2c3e50;
  float: right;
  padding:0 20px 0 20px!important;
}
.top-header .top-info .info-icon i{
  padding:0 10px 0 10px!important;
}
.top-header .user-profile{
  border-radius: 50%;
  margin:0 10px 0 10px!important;
}
/* To header end */

/* Main start */
.main-container{
  overflow: hidden;
}
.main {
  height: 610px;
 background-color: #e1e1e1;
 overflow-y: scroll;
}


.main-body{
  width:100%;
  margin:10px!important;
  background-color:white;
  height: auto;
}
/* Main End */
